<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1.0" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<title>幸福定制002号</title>
<script type="text/javascript" src="js/createjs.js"></script>
<script type="text/javascript" src="js/app.js"></script>
<script type="text/javascript" src="js/base.js"></script>
<script type="text/javascript" src="js/onload.js"></script>
<script>
var played = $!{played};
var isInApp = $!{isInApp};
</script>
<style type="text/css">
html,body,canvas {
margin: 0px;
padding: 0px;
background-color: #fff;
}
canvas {
background-color: #fff;
}
</style>
</head>
<body>
<canvas id="stage">
您的浏览器不支持html5, 请换用支持html5的浏览器。
</canvas>
</body>
</html>
